* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(253, 247, 214);
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: rgb(253, 253, 247);
    text-shadow: 0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(90, 90, 90, 0.1),
                0 0 5px rgba(90, 90, 90, 0.1),
                0 1px 3px rgba(80, 80, 80, 0.3),
                0 3px 5px rgba(80, 80, 80, 0.2),
                0 5px 10px rgba(70, 70, 70, 0.25),
                0 10px 10px rgba(73, 73, 73, 0.2),
                0 20px 20px rgba(48, 48, 48, 0.15);
    
}
.cards__container {
    display: none;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin: 0 auto;
}
.card__button {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    text-shadow: 2px 3px 5px rgba(100, 100, 100, 0.603);
    background-image: url('../img/fruits.jpg');

}
.card__button,
.card__container {
    width: 10rem;
    height: 10rem;
    background-size: cover;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(107, 107, 107, 0.521) 0px 3px 6px;
}
.card__button:hover {
    box-shadow: rgb(253, 246, 244) 0px 2px 7px;
}
.returned {
    background-image: none;
    background-color: rgb(255, 244, 181);
}
h2 {
    color: rgb(221, 112, 139);
}
.starter__button,
.replay__button  {
    background-color: rgb(221, 112, 139);
    border: none;
    box-shadow: rgba(107, 107, 107, 0.521) 0px 3px 6px;
    width: 13rem;
    height: 2rem;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.starter__container,
.win__container,
.loose__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.win__container {
    display: none;
}
.win__container p {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(221, 112, 139);

}
h3.timer__container {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(221, 112, 139);
    display: flex;
    justify-content: center;
}
.loose__container {
    display: none;
}